{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('location_show') }}">Edit locations</a>
    <hr>
    <a href="{{ path('search') }}">Search locations</a>
    <hr>

    <table>
        <tr>
            <td>Name</td>
            <td>X</td>
            <td>Y</td>
        </tr>
    {% for location in locations %}
        <tr>
            <td>{{ location.name }}</td>
            <td>{{ location.positionx }}</td>
            <td>{{ location.positiony }}</td>
        </tr>
    {% endfor %}
    </table>
    {{ pagerfanta(locations , null, {'routeName': 'homepage'}) }}
    <div id="map" style="width: 450px; height: 350px;"></div>
{% endblock %}

{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap;

        function init(){ 
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            }); 

            {% for location in locations %}
                myMap.geoObjects.add(new ymaps.Placemark([{{ location.positionx }}, {{ location.positiony }}], {
                    hintContent: '{{ location.name }}',
                    balloonContent: '{{ location.name }}'
                }));
            {% endfor %}

            myMap.events.add('click', function (e) {

                console.log(e.get('coords'));
            });

        }
    </script>
{% endblock %}