{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('homepage') }}">Home</a>
    <hr>
    <a href="{{ path('location_show') }}">Edit locations</a>
    <hr>
    {% for message in app.session.flashBag.get('message') %}
        <div class="{{ message.type }}">
            {{ message.text }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div id="map" style="width: 450px; height: 350px;"></div>
{% endblock %}

{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap, coords;
        var positionx = document.getElementById('{{ form.positionx.vars.id }}');
        var positiony = document.getElementById('{{ form.positiony.vars.id }}');


        function init(){ 
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            }); 
            
            myMap.events.add('click', function (e) {
                coords = e.get('coords');
                positionx.value = coords[0];
                positiony.value = coords[1];

                myMap.geoObjects.each(function(context) {
                    myMap.geoObjects.remove(context);
                });

                myMap.geoObjects.add(new ymaps.Placemark([
                    coords[0], 
                    coords[1]], {
                        hintContent: '{{ form.name.vars.value }}',
                        balloonContent: '{{ form.name.vars.value }}'
                }));
                
            });
        }
    </script>
{% endblock %}