{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('homepage') }}">Home</a>
    <hr>
    <a href="{{ path('location_new') }}">New Location</a>
    <hr>

    {% for message in app.session.flashBag.get('message') %}
        <div class="{{ message.type }}">
            {{ message.text }}
        </div>
        <hr>
    {% endfor %}

    <table>
        <tr>
            <td>Name</td>
            <td>X</td>
            <td>Y</td>
            <td>Delete</td>
        </tr>
    {% for location in locations %}
        <tr>
            <td><a href="{{ path('location_update', {'id': location.id}) }}">{{ location.name }}</a></td>
            <td>{{ location.positionx }}</td>
            <td>{{ location.positiony }}</td>
            <td><a href="{{ path('location_delete', {'id': location.id}) }}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    {{ pagerfanta(locations , null, {'routeName': 'location_show'}) }}
    <div id="map" style="width: 450px; height: 350px;"></div>
{% endblock %}

{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap;

        function init(){ 
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            }); 

            {% for location in locations %}
                myMap.geoObjects.add(new ymaps.Placemark([{{ location.positionx }}, {{ location.positiony }}], {
                    hintContent: {{ location.name }},
                    balloonContent: {{ location.name }}
                }));
            {% endfor %}
        }
    </script>
{% endblock %}