{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('homepage') }}">Home</a>
    <hr>
    <a href="{{ path('location_show') }}">Edit locations</a>
    <hr>    
    {{ form_start(search_form) }}
    <div id="map" style="width: 450px; height: 350px;"></div>
    {{ form_widget(search_form) }}
    {{ form_end(search_form) }}
    <hr>
    <table>
        <tr>
            <td>Name</td>
            <td>X</td>
            <td>Y</td>
        </tr>
    {% for location in locations %}
        <tr>
            <td>{{ location.name }}</td>
            <td>{{ location.positionx }}</td>
            <td>{{ location.positiony }}</td>
        </tr>
    {% endfor %}
    </table>
    {{ pagerfanta(locations , null, {}) }}
    <div id="map2" style="width: 450px; height: 350px;"></div>
{% endblock %}

{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap, coords, state = 0, circle, circle_bounds;
        var min_x = document.getElementById('{{ search_form.min_x.vars.id }}');
        var min_y = document.getElementById('{{ search_form.min_y.vars.id }}');
        var max_x = document.getElementById('{{ search_form.max_x.vars.id }}');
        var max_y = document.getElementById('{{ search_form.max_y.vars.id }}');

        function init(){ 
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            }); 

            myMap2 = new ymaps.Map("map2", {
                center: [55.76, 37.64],
                zoom: 7
            });

            {% for location in locations %}
                myMap2.geoObjects.add(new ymaps.Placemark([{{ location.positionx }}, {{ location.positiony }}], {
                    hintContent: '{{ location.name }}',
                    balloonContent: '{{ location.name }}'
                }));
            {% endfor %}



            myMap.events.add('click', function (e) {
                if( state === 0 ) {
                    coords = e.get('coords');

                    myMap.geoObjects.each(function(context) {
                        myMap.geoObjects.remove(context);
                    });

                    circle = new ymaps.Circle([coords, 10000], null, { draggable: true });
                    myMap.geoObjects.add(circle);

                    state++;
                } else if ( state === 1 ) {
                    state--;
                    min_x.value = circle_bounds[0][0];
                    min_y.value = circle_bounds[0][1];
                    max_x.value = circle_bounds[1][0];
                    max_y.value = circle_bounds[1][1];
                }
                 
            });

            myMap.events.add('mousemove', function (e) {
                if( state === 1 ) {
                    var mouse_coords = e.get('coords');
                    radius = Math.abs(mouse_coords[0] - coords[0])*100000;
                    circle.geometry.setRadius(radius);
                    circle_bounds = circle.geometry.getBounds();
                }
            });
        }
    </script>
{% endblock %}